@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #f5f4f8;
  background-image: url(../../images/BMI.images/background-for-bmi.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 40px;
}

header {
  position: relative;
  width: 100%;
  height: 50px;   
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.header_main,
.nav {
  position: relative;
  z-index: 1;
}

nav {
  width: 100%;
  height: 60px;
  background-color: white;
}

nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav ul li {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul .Bao_logo_nav {
  width: 10%;
}

nav ul .Bao_logo_nav a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
}

nav ul .Bao_logo_nav a img {
  width: 130%;
  height: 80%;
  margin-right: 10px;
}

nav ul .Bao_logo_nav a p {
  color: black;
  font-weight: bold;
}

nav ul .Bao_box_function {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  position: relative;
}

nav ul .Bao_box_function a,
nav ul .Bao_box_function button {
  text-decoration: none;
  width: 10%;
  height: 100%;
  font-weight: bold;
  font-size: 16px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  position: relative;
  background: none; /* Loại bỏ nền mặc định của button */
  border: none; /* Loại bỏ viền mặc định của button */
  cursor: pointer; /* Thay đổi con trỏ thành dạng pointer */
}

nav ul .Bao_box_function a:hover,
nav ul .Bao_box_function button:hover {
  color: #22606b;
}

nav ul .Bao_box_function a::before,
nav ul .Bao_box_function button::before {
  content: "";
  position: absolute;
  bottom: 15px;
  right: 0px;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  background-color: #22606b;
  transition: 0.5s;
}

nav ul .Bao_box_function a:hover::before,
nav ul .Bao_box_function button:hover::before {
  transform: scaleX(1);
}


#search-button{
  margin-bottom: 5px;
}
#micro-button{
  margin-bottom: 5px;
}


.all-div {
    background-size: cover;
    background-color: #f5f9ff;
}

.Dat-searchGui {
  display: flex;
  background-size: cover; 
  margin-left: 2%;
  margin-right: 2%;
}

.Dat-searchGui img {
  margin-top: -140px;
  object-fit: cover;
}

.Dat-img {
  flex-basis: 20%; 
  margin-top: 200px;
  position: relative;
  border-radius: 10px;
}

.Dat-img img {
  margin-top:-90px;
  border-radius: 20px;
}

.Dat-main-image {
  display: block;
  width: 530px; 
  height: 550px;
  margin-left: 20px;
}

.Dat-overlay-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%; 
  height: auto;
}

.Dat-overlay-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: auto;
}

.Dat-search-section {
  font-family: Arial, sans-serif;
  margin-top: 40px;
  width: 750px;
  margin-right: -40px;
}

.Dat-search-section h1 {
  font-size: 50px;
  font-family: "Instrument Sans", sans-serif;
}

.Dat-search-box {
  display: flex;
  margin-bottom: 20px;
  margin-top: 40px;
}
.Dat-inserted-image {
  display: none; /* Ẩn mặc định */
  text-align: center;
  margin: 20px 0;
}

.Dat-inserted-image img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

@media (max-width: 768px) {
  
  .Dat-description{
    display: none;
  }
  .Dat-inserted-image {
    margin-top: 10px;
    display: block; 
  }
}

.row {
  display: flex;
  align-items: center;
  padding: 10px, 20px;
  height: 60px;
  background-color: white;
}

@media (max-width: 1023px) {
  .Dat-main-heading{
    display: none;
  }
  #spline-container{
    display: none;
  }
  .Dat-searchGui {
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
  }

  .Dat-img {
    flex-basis: 100%;
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .Dat-main-image {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .Dat-img img {
    margin-top: 0;
  }

  .Dat-search-section {
    width: 90%;
    margin-right: 0;
  }

  .Dat-search-section h1 {
    font-size: 30px;
  }

  .Dat-search-box {
    flex-direction: column;
    margin-top: 20px;
  }

  .Dat-find-form {
    width: 100% !important;   
  }

  .Dat-find-form input {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header{
    display: none;
  }

  #spline-container{
    display: none;
  }
  .Dat-searchGui {
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
  }

  .Dat-img {
    flex-basis: 100%;
    margin-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .Dat-img img {
    margin-top: 0;
  }

  .Dat-main-image {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .Dat-search-section {
    width: 100%;
    margin-right: 0;
  }

  .Dat-search-section h1 {
    font-size: 24px;
  }

  .Dat-search-box {
    flex-direction: column;
    margin-top: 20px;
  }

  .Dat-searchGui {
    display: flex;
    flex-direction: column;
  }

  .Dat-img {
    order: 1;
  }

  .Dat-search-section {
    order: 2;
    margin-top: 20px;
  }
}

.Dat-containerfind {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.Dat-tagline {
  color: #777;
  font-style: italic;
}

.Dat-main-heading {
  margin-bottom: -20px;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 20px;
  width: 700px;
  font-family: 'Inter', sans-serif;
}

.Dat-highlight {
  color: rgb(60, 224, 60);
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.5s;
  margin-top: 1px;
}

.Dat-description {
  color: #333;
  margin-bottom: 30px;
  width: 400px;
  font-family: 'Inter', sans-serif;
}

@media (max-width: 1200px) {
  .Dat-description {
    width: 300px;
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .Dat-description {
    width: 250px;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .Dat-description {
    width: 200px;
    margin-bottom: 15px;
  }
}

@media (max-width: 320px) {
  .Dat-description {
    width: 150px;
    margin-bottom: 10px;
  }
}

.Dat-find-form {
  margin-bottom: 40px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  width: 600px;
  z-index: 20;
}

.Dat-find-form input {
  padding: 12px;
  border: none;
  outline: none;
  height: 20px;
  width: 500px;
}

.Dat-result-box ul {
  border-top: 1px solid #999;
  padding: 15px 10px;
}

.Dat-result-box ul li {
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}

.Dat-result-box ul li:hover {
  background-color: #e9f3ff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.Dat-result-box {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  width: 38%;
  z-index: 20;
  display: none;
}

.Dat-find-form .row {
  position: relative;
  z-index: 20;

}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding: 8px;
  cursor: pointer;
}

li:hover {
  background-color: #f0f0f0;
}

.Dat-find-form button {
  padding: 10px 20px;
  background-color: #0e0f0f;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  height: 40px;
  width: 100px;
  z-index: 20;
}

.Dat-info-boxes {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.Dat-info-box {
  background: #0d0d0d;
  border-radius: 4px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
}

.Dat-info-box .icon {
  font-size: 2em;
  margin-right: 15px;
}

.Dat-info-box h3 {
  margin: 0;
  margin-bottom: 10px;
  color: #ffffff;
}

.Dat-info-box p {
  margin: 0;
  color: #ffffff;
  margin-top: -10px;
}

@media (max-width: 768px) {
  .Dat-info-boxes {
    flex-direction: column;
  }

  .Dat-info-box {
    width: 100%;
    margin-bottom: 20px;
  }
}

.Dat-bangchucai-find {
  gap: 15px; 
  width: 80%;
  margin-left: 20px;
  margin-top: -40px;
}

#az {
  margin-left: -1200px;
}

.letter {
  display: inline-block;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 15px;
}

.letter:hover {
  background-color: #f8f9fa;
}

.slick-prev:hover, .slick-next:hover {
  background: #555; 
  color: #fff; 
}

.slick-prev {
  left: 10px; 
}

.slick-next {
  right: 10px; 
}

.Dat-icon svg {
  width: 50px;
  height: 50px;
}

.Dat-icon path:nth-of-type(1) {
  fill: rgb(22, 255, 22);
  fill-opacity: 0.25;
}

.Dat-icon path:nth-of-type(2) {
  fill: rgb(33, 193, 33);
}

.Dat-icon path:nth-of-type(3) {
  fill: rgb(60, 224, 60);
  fill-opacity: 0.25;
}

.Dat-icon path:nth-of-type(4) {
  fill: rgb(60, 224, 60);
  fill-opacity: 0.25;
}

.Dat-icon path:nth-of-type(5) {
  fill: rgb(60, 224, 60);
}

.Dat-icon path:nth-of-type(6) {
  fill: rgb(33, 193, 33);
}

.Dat-title-top-druggui {
  width: 15%;
  margin-top: 20px;
  margin-left: 20px;
}

.Dat-container-category {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}

.Dat-title-slider {
  margin-left: 5%;  
  margin-right: 50px; 
  width: 100px;
  margin-top: 30px;
}

.Dat-category-autoplay-slider {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto; 
  max-width: 1200px; 
  padding: 20px; 
  text-align: center;
  margin-left: 40px;
}

.Dat-category {
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: 16%; 
  box-sizing: border-box; 
  margin-left: 0;
  background-color: #F5F9FF; 
}

.Dat-category:hover {
  transform: scale(1.05);
  background-color: #f0f0f0; 
}

.Dat-category img {
  width: 48%; 
  height: auto;
  display: block;
  border-radius: 15px;
  filter: grayscale(50%) brightness(90%);
  transition: filter 0.5s ease-in-out;
}

.Dat-category:hover img {
  filter: grayscale(0%) brightness(100%);
}

.Dat-category-name {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 8px 12px; 
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
  margin-top: 12px; 
}

@media (max-width: 1023px) {
  .Dat-container-category {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .Dat-category-autoplay-slider {
    margin-left: 0;
    padding: 10px;
    max-width: 100%;
  }

  .Dat-category {
    width: 30%; 
  }

  .Dat-category img {
    width: 60%; 
  }
}

@media (max-width: 767px) {

  .Dat-container-category {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .Dat-category-autoplay-slider {
    margin-left: 0;
    padding: 10px;
    max-width: 100%;
  }

  .Dat-category {
    width: 80%; 
  }

  .Dat-category img {
    width: 70%; 
  }

  .Dat-category-name {
    font-size: 14px;
  }
}

body {
  font-family: Arial, sans-serif;
}

.Dat-hottrend {
  margin-top: 20px;
  text-align: center;
}

.Dat-title-product-container {
  margin-left: 10%;
}

.Dat-product-container-for-all {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  margin-left: 7%;
  margin-bottom: 70px;;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 280px; 
  margin: 0 16px; 
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
}

.Dat-product-content {
  width: 160px; 
  height: 235px; 
  background-color: #fff;
  padding: 20px; 
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(0%) skewx(2.67deg);
  border-radius: 14px; 
  z-index: 2;
  position: relative;
  margin: 16px;
}

.Dat-img-container {
  background-color: #D3D3D3;
  width: 90%;
  height: 90px; 
  z-index: 3;
  margin: 0 auto;
  margin-top: 24px; 
  border-radius: 12px; 
  overflow: visible; 
  position: relative; 
}

.Dat-img-container img {
  position: absolute;
  top: -30%; 
  left: 50%;
  transform: translateX(-50%);
  width: 92%; 
  border-radius: 12px; 
}

.Dat-product-information {
  margin-top: 5px; 
  font-size: 16px; 
  height: 28px;
}

.Dat-product-price {
  margin-top: -10px; 
  font-size: 14px;
  color:#ffa600;
}

.Dat-parallelogram {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px; 
  height: 170px; 
  background-color: #000000;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
  border-radius: 14px; 
  z-index: 0;
  transform: translateY(50%);
  margin-bottom: 102px; 
  margin-left: 42px; 
}

.cart {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 102px; 
  height: 44px; 
  background-color: #0aaf18;
  color: #000000;
  border: 1.9px solid #0aaf18;
  border-radius: 14px; 
  z-index: 2;
  transform: translateY(50%) skewx(0.67deg);
  margin-bottom: 23px; 
  margin-left: 35px; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease; 
}

.cart i {
  margin-right: 10px; 
  transform: translateY(0%) skewx(-6.67deg);
  margin-left: 5px; 
  margin-top: 5px; 
}

.cart:hover {
  background-color: #FFD700; 
  color: rgb(0, 0, 0); 
  border: 2.8px solid white;
}

@media (max-width: 1023px) {
  .container {
    margin: 10px; 
  }
}

@media (max-width: 767px) {
  .container {
    margin-left: 0px; 
  }
  .Dat-product-container-for-all {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    margin-left: 5.38%;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 160px;
    margin: 0 12.31px;
    margin-left: 6.15px;
    margin-right: 6.15px;
    position: relative;
  }
  
  .Dat-product-content {
    width: 123.08px;
    height: 180.77px;
    background-color: #fff;
    padding: 15.38px;
    text-align: center;
    box-shadow: 0 2.31px 3.85px rgba(0, 0, 0, 0.2);
    transform: translateY(0%) skewx(2.05deg);
    border-radius: 10.77px;
    z-index: 2;
    position: relative;
    margin: 12.31px;
  }
  
  .Dat-img-container {
    background-color: #D3D3D3;
    width: 69.23%;
    height: 69.23px;
    z-index: 3;
    margin: 0 auto;
    margin-top: 18.46px;
    border-radius: 9.23px;
    overflow: visible;
    position: relative;
  }
  
  .Dat-img-container img {
    position: absolute;
    top: -23.08%;
    left: 50%;
    transform: translateX(-50%);
    width: 140%;
    border-radius: 9.23px;
  }
  
  .Dat-product-information {
    margin-top: 3.85px;
    font-size: 12.31px;
    height: 21.54px;
  }
  
  .Dat-product-price {
    margin-top: -7.69px;
    font-size: 10.77px;
    color: #ffa600;
  }
  
  .Dat-parallelogram {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 115.38px;
    height: 130.77px;
    background-color: #000000;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
    border-radius: 10.77px;
    z-index: 0;
    transform: translateY(50%);
    margin-bottom: 78.46px;
    margin-left: 8px;
  }
  
  .cart {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 78.46px;
    height: 33.85px;
    background-color: #0aaf18;
    color: #000000;
    border: 1.46px solid #0aaf18;
    border-radius: 10.77px;
    z-index: 2;
    transform: translateY(50%) skewx(0.52deg);
    margin-bottom: 17.69px;
    margin-left: 26.92px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }
  
  .cart i {
    margin-right: 7.69px;
    transform: translateY(0%) skewx(-5.13deg);
    margin-left: 3.85px;
    margin-top: 3.85px;
  }
  
  .cart:hover {
    background-color: #FFD700;
    color: rgb(0, 0, 0);
    border: 2.15px solid white;
  }
  
}

r_item {
  padding: 10px 100px;
  width: 30%;
  height: 80%;
  color: white;
  z-index: 3;
}









